@font-face {
  font-family: myFirstFont;
  src: url(Nice_Sugar.otf);
}

.product-table {
    border: 2px solid navy;
    border-collapse: collapse;
    font-family: myFirstFont;
  }

   tr > th:last-child {
   width: 145%;

  }
  
  .product-table tr:nth-child(2n +1) {
    background-color: rgb(51, 151, 151);
  }
  
  .product-table tr:hover {
    background-color: lightgoldenrodyellow;
  }
  
  .product-table th {
    min-width: 5rem;
    background-color: navy;
    color: rgb(114, 55, 55);
  }
  
  .product-table th, .product-table td {
    padding: 0.4rem;
  }
  .product-table >  thead    {
    margin: 5px;
  }

